@model Gestion_Des_prèneces.Models.Absence

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Absence</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateDebutAb)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateDebutAb)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateFinAb)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateFinAb)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NbHAb)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NbHAb)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumClNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumClNavigation.NumCl)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdAbsence" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
