@model IEnumerable<Gestion_Des_prèneces.Models.Absence>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="pt-5 text-center">
    <h1 style="color: lightcoral">Absences</h1>
</div>
<div class="pt-3"></div>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DateDebutAb)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateFinAb)
            </th>
           <th>
                @Html.DisplayNameFor(model => model.NbHAb)
           </th>
           <th>Actios</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DateDebutAb)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateFinAb)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NbHAb)
                </td>

                <td>
                    <form method="post" asp-action="RedirectToEditAbsence" asp-controller="Absences" style="display:inline;">
                        @Html.AntiForgeryToken()
                        <input type="hidden" name="id" value="@item.IdAbsence" />
                        <button type="submit" class="btn btn-sm btn-primary">Modifier</button>
                    </form>
                   
                   
                    <button class="btn btn-danger btn-sm"
                            onclick="deleteItem({
                                url: '/Absences/DeleteAbsenceAjax',
                                id: @item.IdAbsence,
                                button: this,
                                csrfToken: document.querySelector('input[name=__RequestVerificationToken]').value
                            })">
                        Supprimer
                    </button>
                   @*  <a asp-action="Edit" asp-route-id="@item.IdAbsence">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.IdAbsence">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.IdAbsence">Delete</a> *@
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="col-lg-6">
    <a asp-action="Bienvenu" asp-controller="Collaborateurs" class="btn btn-secondary">Retour au menu</a>
</div>