@model IEnumerable<Gestion_Des_prèneces.Models.Disponibilité>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="pt-5 text-center">
    <h1 style="color: lightcoral">Disponibilités</h1>
</div>
<div class="pt-3"></div>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DateMiseEnDisponibilité)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateHDebutDisponibilité)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateHFinDisponibilité)
            </th>
           
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DateMiseEnDisponibilité)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateHDebutDisponibilité)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateHFinDisponibilité)
                </td>
              
                <td>
                    <form method="post" asp-action="RedirectToEditDisponibilité" asp-controller="Disponibilité" style="display:inline;">
                        @Html.AntiForgeryToken()
                        <input type="hidden" name="id" value="@item.IdDisponibilité" />
                        <button type="submit" class="btn btn-sm btn-primary">Modifier</button>
                    </form>


                    <button class="btn btn-danger btn-sm"
                            onclick="deleteItem({
                                    url: '/Responsables/DeleteDisponibilitéAjax',
                                    id: @item.IdDisponibilité,
                                    button: this,
                                    csrfToken: document.querySelector('input[name=__RequestVerificationToken]').value
                                })">
                        Supprimer
                    </button>
                    @* <a asp-action="Edit" asp-route-id="@item.IdDisponibilité">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.IdDisponibilité">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.IdDisponibilité">Delete</a> *@
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="col-lg-6">
    <a asp-action="Bienvenu" asp-controller="Collaborateurs" class="btn btn-secondary">Retour au menu</a>
</div>