@model IEnumerable<Gestion_Des_prèneces.Models.Congé>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="pt-5 text-center">
    <h1 style="color: lightcoral">Des conges</h1>
</div>
<div class="pt-3"></div>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>
                Date debut Congé
                
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateFinCongé)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Types)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Accord)
            </th>
           <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DateDebutCongé)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateFinCongé)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Types)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Accord)
                </td>
                
                <td>
                    <form method="post" asp-action="RedirectToEditCongé" asp-controller="Congé" style="display:inline;">
                        @Html.AntiForgeryToken()
                        <input type="hidden" name="id" value="@item.IdCongé" />
                        <button type="submit" class="btn btn-sm btn-primary">Modifier</button>
                    </form>
                   

                    <button class="btn btn-danger btn-sm"
                            onclick="deleteItem({
                                url: '/Congé/DeleteCongéAjax',
                                id: @item.IdCongé,
                                button: this,
                                csrfToken: document.querySelector('input[name=__RequestVerificationToken]').value
                            })">
                        Supprimer
                    </button>
                   @*  <a asp-action="Edit" asp-route-id="@item.IdCongé">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.IdCongé">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.IdCongé">Delete</a> *@
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="col-lg-6">
    <a asp-action="Bienvenu" asp-controller="Collaborateurs" class="btn btn-secondary">Retour au menu</a>
</div>